python-dotenv
streamlit
pillow
google-generativeai
reportlab
numpy
opencv2-python  # Use 'opencv-python' instead of 'cv2'
streamlit-webrtc
pydub
SpeechRecognition  # Correct casing
requests
PyPDF2  # Correct package name
pandas
